@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hue-color: 250;

  --header-height: 3rem;
  --normal-font-size: .938rem;
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}